html{
    overflow-y: scroll; 
}

body {
    color: #777777;
    background: lightgray;
    margin: 0;
}

h1, h2, h4{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p, li, a, .PortTxt, .submitButton {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    margin: 0 0 0 20%;
    background: #4aaaa5;
    float: left;
    padding:  20px 25px 24px;
    color:white;
    border-bottom: #777777 solid 1px;
    height: 45%;
}

h2{
    min-width: 250px;
    width: 20%;
    line-height: 0px;
    margin: 0 0 0 15px;
    font-size: 30px;
    color: #4aaaa5;
}

h4 {
    margin-left: 15px;
    margin-bottom: 0;
    color: black;
}

input {
    padding: 10px;
    margin: 5px 0 5px 15px;
}

textarea{
    margin-left: 15px;
}

img {
    float: left;
    width: 200px; 
    height: 200px;
    margin: 9px 15px 0;
}

container{
    margin: 0 20%;
    float: left;
    overflow: visible;
}

p, li{
    margin: 0 50px 15px 15px;
    font-size: 20px;
    line-height: 30px;
    
}

li {
    line-height: 25 px;
    margin: 0 0 0 15px;
}

a {
    color: #777777;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color:black;
}

hr {
    margin: 20px 15px;
    border: 2px #77777750 solid;
    border-radius: 50px;
}

#links {
    float: right;
    margin: 0 15px 0 0;
    padding: 0;
    line-height: 80px;
    font-size: 18px;
}

#header {
    width: 100%;
    background: #ffffff;
    border-bottom: #777777 solid 2px;
    height: 80px;
}

#index {
    margin-top: 25px;
    border: #777777 solid 1px;
    background: #ffffff;
    padding: 25px;
}

#footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    background: #666666;
    color: white;
    border-top: solid #4aaaa5 10px;
}

.PortImg {
    float: left;
    margin: 0 10px 10px;
    height: 200px;
    width: 200px;
}

.PortTxt {
    width: 100%;
    float: left;
    background: #4aaaa5;
    color: #ffffff;
    padding: 25px 0;
    margin-top: 110px;
    text-align: center;
    transition: inherit;
    -webkit-transition: background .5s;
}

.PortTxt:hover{
    color: #ffffff;
    background: #4a64aa;
}

.submitButton{
    padding: 5px;
    width: 80px;
    height: 35px;
    background: #4a64aa;
    color: #ffffff;
    font-weight: bold;
    border: #4aaaa5 solid 5px;
    border-radius: 10px;
    outline: 0;
}

.submitButton:hover{
    background: #6485e2;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 980px){
    container {
        /* margin: 0 10%; */
    }
}

@media screen and (max-width: 768px){
    h1 {
        margin-left: 8%;
        font-size: 18px;
        height: 44%;
    }
    container {
        margin: 0 8%;
    }
}

@media screen and (max-width: 640px){
    container {
        margin: 0 4%;
    }
    h1 {
        text-align: center;
        height: 20%;
        padding: 25px 0;
        margin: 0;
        width: 100%;
    }
    #links {
        position: relative;
        bottom: 15px;
        margin: 0;
        text-align: center;
        float: inherit;
        width: 100%;
    }

    img {
        /* width: 300px; */
        /* height: 250px; */
    }
    #header {
        height: 130px;
    }
    
}